main {
  width: auto;
  margin: auto;
}

.head-text {
  margin-top: 34px;
  margin-bottom: 34px;
  text-align: center;
  font-size: 32px;
}

.italic {
  font-style: italic;
}

#field-description {
  width: 500px;
}

#field-sum {
  width: 300px;
}

.flex {
  display: flex;
}

.align-content-space-between-center {
  justify-content: center;
  align-content: space-between;
}

.alight-self-center {
  align-self: center;
}

.add-item-container {
  display: flex;
  gap: 20px;
}